.table_container{
   border: none !important;
   box-shadow: none !important;
}
th,td{
    border: none !important;
}
thead{
 border: none;
}
thead tr{
        background: #F3F6FB;
   
}
thead th{
    font-family: 'Poppins',sans-serif !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 19px !important;

    color: #626266 !important;
}
.table th , td{
    padding-left: 2rem !important;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #3F3E3E;
    border: none;
}
th:nth-child(1){
    text-align: start !important;
}